<section class="services py-5 bg-light">
    <div class="container">
      <div class="row d-flex justify-content-between">
        
<section class="col-md-7 ">
  <h2 class="text-end mb-4">الخدمات</h2>
<p class="text-end"><span><span>Round In Oman</span>توفر شركة</span><span>العديد من الخدمات</span>
<br>
<span>المتنوعة و المميزة استكشفها و استمتع معنا</span>
</p>
<section class="w-75 ms-auto ">
  <div class=" text-center  d-flex flex-row-reverse card mb-4">
    <img src="../../assets/serA.svg" class="rounded-circle p-1" alt="">

    <div class="">
      <h6 class="text-end">حجز الفنادق</h6>
      <p>نوفر لك أفضل عروض حجز الفنادق المميزة.</p>

    </div>
  </div> 


  <div class=" text-center  d-flex flex-row-reverse card mb-4">
    <img src="../../assets/serA.svg" class="rounded-circle p-1" alt="">

    <div class="">
    
          <h6 class="text-end">حجز الرحلات</h6>
          <p>خطط لرحلاتك السياحية معنا بكل سهولة.</p>

    </div>
  </div> 





  <div class=" text-center  d-flex flex-row-reverse card mb-4">
    <img src="../../assets/serA.svg" class="rounded-circle p-1" alt="">

    <div class="">
    
          <h6 class="text-end">تأجير السيارات
          </h6>
          <p>احصل على سيارة بأفضل الأسعار لرحلتك.</p>

    </div>
  </div> 




  <div class=" text-center  d-flex flex-row-reverse card mb-4">
    <img src="../../assets/serA.svg" class="rounded-circle p-1" alt="">

    <div class="">
    
          <h6 class="text-end">دليل السياحة

          </h6>
          <p>اكتشف أفضل الوجهات السياحية مع دليلنا.</p>

    </div>
  </div> 








</section>
       






        
      </section>
      <section class="col-md-4 ">
        <img src="../../assets/sevices.png" class="w-100" alt="">
      </section>
      </div>
    </div>

  </section>
  